# Directorios locales de Terraform (donde se bajan los proveedores)
.terraform/

# Archivos de estado (¡IMPORTANTE! Contienen secretos)
*.tfstate
*.tfstate.*

# Archivos de variables con secretos
*.tfvars
*.tfvars.json

# Archivos de registro de errores y planes generados
crash.log
*.tfplan

# Archivos de configuración de CLI y SO
.terraformrc
terraform.rc
.DS_Store

